/* Estils globals */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f5f5f5;
}

.capcalera {
    background-color: #2d5c0b;
    color: white;
    padding: 10px 0;
}

.primera-franja {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logotip {
    height: 50%;
    width: 50%; /* Ajustem l'amplada i alçada de la imatge */
}

.enllacos a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-weight: bold;
}

.segona-franja {
    text-align: left;
    padding: 10px;
}

.titol-web {
    font-size: 24px;
    color: white;
}

.tercera-franja {
    background-color: white;
    text-align: left;
    padding: 10px;
}

.menu-navegacio {
    list-style: none;
    display: flex;
    justify-content: flex-start;
}

.menu-navegacio li {
    margin-right: 20px;
}

.menu-navegacio a {
    text-decoration: none;
    color: #444;
    font-weight: 600;
    font-size: 16px;
}

.menu-navegacio a:hover {
    border-bottom: 4px solid #C00000;
    color: #C00000;
}

/* Estils per al cos de la pàgina */
.cos-principal {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #fff;
}

.col-esquerra, .col-centre, .col-dreta {
    padding: 10px;
    background-color: #d1e4c2;
}

.col-esquerra {
    flex: 1;
}

.col-centre {
    flex: 3;
    background-color: #ffffff;
    margin-bottom: 20px;
}

.col-dreta {
    flex: 1;
}

/* Estils per al cercador */
.cercador-seccio {
    text-align: center;
    margin-bottom: 30px;
}

.cercador-gran {
    width: 60%;
    padding: 15px;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid #89ac76;
}

/* Estils per a les seccions de la pàgina Inici */
.seccions-inici {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.seccio {
    flex: 1;
    margin-right: 20px;
}

.seccio h2 {
    text-align: center;
    margin-bottom: 15px;
}

.banners {
    display: flex;
    flex-direction: column;
}

.banner {
    background-color: #b0cba3;
    padding: 15px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid #89ac76;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.banner:hover {
    background-color: #a6c295;
}
